<div class="page" [ngClass]="level + '-page'">
  <div class="width-restriction">
    <div class="level-desc">{{ level | titlecase }}</div>

      <ion-avatar class="avatar" [ngClass]="level + '-border'">
        <ion-img class="image" [src]="'../assets/bunny-good.png'"></ion-img>
      </ion-avatar>

      <div class="aqi-div">
        {{apiData.data?.aqi || '?'}}
      </div>

      <div class="city-desc">
        {{apiData.data?.city?.name || 'Fetching data'}}
      </div>

      <button class="reload-btn" (click)="reload()">
        Reload
      </button>
  </div>
</div>